@charset "utf-8";
#content{
    margin-top: 20px;
    width: 100%;
    .content{
        min-height: 300px;
        border-top: 2px solid red;
        background: rgb(249, 249, 249);
        .conleft{
            width: 858px;
            margin-left: 10px;
            .cltop{
                line-height: 50px;
                font-size: 16px;
                ul>li{
                    float: left;
                    width: 100px;
                    cursor: pointer;
                    text-align: center;
                    &.active{
                        color: red;
                    }
                }
            }
            .clbottom{
                .clb_tab{
                    display: none;
                    position: relative;
                    min-height: 240px;
                    background: #fff;
                    border: 1px solid rgb(242, 242, 242);
                    ul{
                        li{
                            float: left;
                            width: 212px;
                            height: 238px;
                            cursor: pointer;
                            border: 1px solid #f2f2f2;
                            .clb_tab_pic{
                                width: 140px;
                                height: 150px;
                                padding-top: 5px;
                                margin: 15px auto 10px;
                                text-align: center;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .clb_tab_inf{
                                width: 155px;
                                margin-left: 35px;
                                height: 22px;
                                line-height: 22px;
                                font-size: 14px;
                                p{
                                    &:nth-child(2){
                                        color: #f54343;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .conright{
            width: 310px;
            >p{
                height: 50px;
                line-height: 50px;
                text-align: center;
                background: #ef5752;
                color: #fff;
                font-size: 18px;
            }
            .cr_banner{
                height: 242px;
                background: #fff;
                border: solid #f2f2f2;
                border-width: 0 1px 1px 1px;
                position: relative;
                overflow: hidden;
                .crb_good{
                    height: 251px;
                    position: absolute;
                    overflow: hidden;
                    left: 0;     //jq定位
                    li{
                        float: left;
                        width: 308px;
                        height: 251px;
                        >div{
                            width: 310px;
                            p{
                                height: 40px;
                                line-height: 40px;
                                color: #333;
                                text-align: center;
                                padding: 0 20px;
                            }
                            >div{
                                height: 165px;
                                text-align: center;
                                img{
                                    width: 170px;
                                }
                            }
                            span{
                                height: 25px;
                                line-height: 25px;
                                font-size: 18px;
                                color: #f54343;
                                padding: 0 20px;
                            }
                        }
                    }
                }
                .crb_span{
                    position: absolute;
                    padding: 5px 10px;
                    height: 10px;
                    right: 0;
                    bottom: 0;
                    li{
                        display: block;
                        float: left;
                        width: 30px;
                        height: 8px;
                        margin-left: 5px;
                        background: #ef4c4f;
                        opacity: 0.4;
                        cursor: pointer;
                        &.active{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

#channel{
    width: 100%;
    .channel{
        margin-top: 20px;
        height: 120px;
        border: 1px solid #dddddd;
        background: #fff;
        box-sizing: border-box;
        li{
            width: 301px;
            height: 120px;
            float: left;
            position: relative;
            border-left: 1px solid #dddddd;
            &:nth-child(1){
                border-left:none;
            }
            .cinf{
                position: absolute;
                width: 150px;
                height: 100px;
                left: 20px;
                top: 14px;
                line-height: 20px;
                strong{
                    line-height: 20px;
                    font-size: 15px;
                    color: #000;
                    font-weight: 400;
                }
                p{
                    height: 36px;
                    color: #999;
                    padding-top: 6px;
                    line-height: 17px;
                    font-size: 12px;
                }
                span{
                    padding: 4px 10px;
                    font-size: 12px;
                    background: #ff4148;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .cpic{
                margin-left: 170px;
            }
            .more{
                margin: 15px 20px;
                p{
                    font-size: 15px;
                    line-height: 20px;
                    color: #000;
                    font-weight: 400;
                }
                div{
                    margin-top: 10px;
                    span{
                        font-size: 12px;
                        width: 33.3%;
                        height: 20px;
                        line-height: 20px;
                        float: left;
                        margin: 3px 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#floor{
    width: 100%;
    margin-top: 20px;
    .floor{
        >p{
            color: #869CFE;
            height: 53px;
            line-height: 53px;
            font-size: 24px;
        }
        .fbottom{
            border-top: 2px solid #869cfe;
            height: 475px;
            .fbleft{
                background: #b8cbfe;
                width: 210px;
                .fblpic{
                    height: 235px;
                }
                .fblnav{
                    height: 240px;
                    ul{
                        height: 220px;
                        margin: 9px auto auto 9px;
                        li{
                            width: 90px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            margin: 4px auto auto 4px;
                            float: left;
                            background: #fff;
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .fbright{
                width: 1000px;
                min-height: 235px;
                ul{
                    li{
                        width: 199px;
                        height: 236.5px;
                        float: left;
                        border-right: 1px solid #ededed;
                        border-bottom: 1px solid #ededed;
                        .fbrpic{
                            height: 140px;
                            text-align: center;
                            padding: 27px 0 15px 0;
                            img{
                                width: 140px;
                                cursor: pointer;
                            }
                        }
                        .fbrinf{
                            height: 50px;
                            margin: 0 20px;
                            p{
                                height: 20px;
                                line-height: 20px;
                                font-size: 16px;
                                margin-bottom: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

#between{
    margin-top: 20px;
    .between{
        height: 90px;
    }
}

#floor2{
    width: 100%;
    margin-top: 20px;
    .floor2{
        >p{
            color: #3DC190;
            height: 53px;
            line-height: 53px;
            font-size: 24px;
        }
        .fb2ottom{
            border-top: 2px solid #3DC190;
            height: 475px;
            .fb2left{
                background: #a7f1dd;
                width: 210px;
                .fb2lpic{
                    height: 235px;
                }
                .fb2lnav{
                    height: 240px;
                    ul{
                        height: 220px;
                        margin: 9px auto auto 9px;
                        li{
                            width: 90px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            margin: 6px auto auto 4px;
                            float: left;
                            background: #fff;
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .fb2right{
                width: 1000px;
                min-height: 235px;
                ul{
                    li{
                        width: 199px;
                        height: 236.5px;
                        float: left;
                        border-right: 1px solid #ededed;
                        border-bottom: 1px solid #ededed;
                        .fb2rpic{
                            height: 140px;
                            text-align: center;
                            padding: 27px 0 15px 0;
                            img{
                                width: 140px;
                                cursor: pointer;
                            }
                        }
                        .fb2rinf{
                            height: 50px;
                            margin: 0 20px;
                            p{
                                width: 159px;
                                height: 20px;
                                line-height: 20px;
                                font-size: 16px;
                                margin-bottom: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footernav{
    height: 162px;
    padding: 20px 0 10px;
    margin-top: 20px;
    background: #f03b43;
    .footernav{
        margin: 0 auto;
        width: 960px;
        height: 100%;
        .footerMode{
            float: left;
            width: 140px;
            padding-right: 20px;
            color: #fff;
            h3{
                height: 30px;
                font-size: 16px;
                font-weight: bold;
                padding-left: 36px;
                &.fn1{
                    background: url(../img/footernav/fn1.gif) no-repeat;
                }
                &.fn2{
                    background: url(../img/footernav/fn2.gif) no-repeat;
                }
                &.fn3{
                    background: url(../img/footernav/fn3.gif) no-repeat;
                }
                &.fn4{
                    background: url(../img/footernav/fn4.gif) no-repeat;
                }
                &.fn5{
                    background: url(../img/footernav/fn5.gif) no-repeat;
                }
                &.fn6{
                    background: url(../img/footernav/fn6.gif) no-repeat;
                }
            }
            ul{
                padding-left: 36px;
                li{
                    height: 22px;
                    list-style-type: disc;
                    a{
                        font-size: 12px;
                        color: #ffbec1;
                    }
                }
            }
        }
    }
}

#footer{
    .footer{
        width: 960px;
        margin: 0 auto;
        border-top: 1px solid #d7d7d7;
        .inftop{
            height: 31px;
            line-height: 31px;
            text-align: center;
            a{
                color: #f03b43;
                margin: 0 5px;
                font-size: 12px;
            } 
        }
        .infbuttom{
            margin: 0 auto;
            font-size: 12px;
            .ibleft{
                text-align: right;
                display: inline-block;
                width: 684px;
                padding-left: 20px;
                p{
                    color: #656565;
                    a{
                        color: #656565;
                        &.remarksNumber{
                            color: #F03B43;
                        }
                    }
                }
            }
            .ibright{
                width: 160px;
                float: right;
                margin-right: 50px;
                margin-top: 20px;

            }
        }
    }
}
