#top {
  height: 100px;
  background: #fff;
  box-shadow: 0 0 5px #888;
}
#top .top {
  min-height: 95px;
}
#top .top .logoleft {
  width: 330px;
  margin-top: 5px;
}
#top .top .logoright {
  width: 155px;
  height: 90px;
  padding-right: 210px;
  background: url(../img/kfl_right_logo.jpg) no-repeat right center;
}

#login {
  width: 100%;
  min-width: 1210px;
  height: 475px;
  background: #ff6a65 url(../img/loginbg.jpg) no-repeat center bottom;
  padding-top: 30px;
}
#login .login .loginbox {
  width: 358px;
  height: 405px;
  border-radius: 8px;
  background: #fff;
  padding: 20px 30px;
  float: right;
}
#login .login .loginbox .loginctop {
  text-align: center;
  color: #555;
  font-size: 18px;
}
#login .login .loginbox .logincon {
  border-top: 1px solid #e1edfd;
  font-size: 16px;
  margin-top: 20px;
}
#login .login .loginbox .logincon .label {
  min-height: 40px;
  line-height: 34px;
  margin-top: 30px;
  border: 1px solid #ddd;
  position: relative;
}
#login .login .loginbox .logincon .label input {
  width: 285px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 25px 10px 45px;
}
#login .login .loginbox .logincon .label input.username {
  background: url(../img/elves2.png) no-repeat -467px -161px;
}
#login .login .loginbox .logincon .label input.password {
  background: url(../img/elves2.png) no-repeat -464px -198px;
}
#login .login .loginbox .logincon .label .errortip {
  display: none;
  width: 272px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #ff5c4b;
  position: absolute;
  top: 45px;
  left: 0;
  padding-left: 20px;
  background: url(../img/elves2.png) no-repeat -486px -100px;
}
#login .login .loginbox .logincon .gbAndRef {
  margin-top: 20px;
  line-height: 34px;
}
#login .login .loginbox .logincon .gbAndRef .getBackPw a {
  color: #555;
}
#login .login .loginbox .logincon .gbAndRef .reg a {
  color: #ff5c4d;
}
#login .login .loginbox .logincon .btn {
  width: 100%;
  height: 42px;
  font-size: 18px;
  color: #fff;
  line-height: 42px;
  text-align: center;
  border-radius: 4px;
  background: #ff5c4d;
  margin: 20px 0;
  cursor: pointer;
}
#login .login .loginbox .loginfooter p {
  font-size: 12px;
  line-height: 30px;
  color: #555;
  border-top: 1px solid #e5e5e5;
}
#login .login .loginbox .loginfooter .otherLogin a {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 10px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
}
#login .login .loginbox .loginfooter .otherLogin a.qq {
  background: url(../img/elves2.png) no-repeat -380px -95px;
}
#login .login .loginbox .loginfooter .otherLogin a.xl {
  background: url(../img/elves2.png) no-repeat -428px -95px;
}
#login .login .loginbox .loginfooter .otherLogin a.wb {
  background: url(../img/elves2.png) no-repeat -428px -143px;
}

#footer {
  margin-top: 40px;
}
#footer .footer {
  width: 960px;
  margin: 0 auto;
  border-top: 1px solid #d7d7d7;
}
#footer .footer .inftop {
  height: 31px;
  line-height: 31px;
  text-align: center;
}
#footer .footer .inftop a {
  color: #f03b43;
  margin: 0 5px;
  font-size: 12px;
}
#footer .footer .infbuttom {
  margin: 0 auto;
  font-size: 12px;
}
#footer .footer .infbuttom .ibleft {
  text-align: right;
  display: inline-block;
  width: 684px;
  padding-left: 20px;
}
#footer .footer .infbuttom .ibleft p {
  color: #656565;
}
#footer .footer .infbuttom .ibleft p a {
  color: #656565;
}
#footer .footer .infbuttom .ibleft p a.remarksNumber {
  color: #F03B43;
}
#footer .footer .infbuttom .ibright {
  width: 160px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

/*# sourceMappingURL=login.css.map */
